﻿
body{
 height: 2000px;
}

/*start upper bar*/
.upper-bar{
    background-color: #08526d;
    color:#fff;
    padding:10px;
    font-weight: bold;
    font-size: 20px;
}
.upper-bar span{
    
    color:#bfc6c9;
}

 .upper-bar .get-quote{
    display:inline-block;
    border:1px solid #ec1c23;
    padding: 2px 10px;
    margin-left: 20px;
}
/*end upper bar*/

/* start navbar*/
.navbar-brand >span{
   
    font-size: 40px;
    
}


.navbar-brand span:first-child{
    color:#08526d;
     font-weight: bold;
}
.navbar-brand span:last-child{
    color:#ec1c23;
}
.navbar-nav .nav-link{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
    color:#08526d !important;
    font-weight: bold;
    
    
}

a:hover{
 background:#ec1d11 ;
}

.navbar-nav .active > .nav-link{
    color: #ec1c23 !important
}

/* end navbar*/

/*start slider*/
.slider{
 background-color:#ddd
}
.slider .carousel-inner{
 display:flex;
 align-items:center;
 justify-content:left;
 
}
.slider .carousel-inner h1{
 position: absolute;
 color: #fff;
 z-index:3;
 font-size: 70px;
 max-width: 900px;
 line-height: 1.2;
 left: 100px;
}
.slider .carousel-inner h1 span{
 background-color:#ec1c23;
 display: inline-block;
 padding: 2px 10px;
}

.slider .carousel-inner .overlay{
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
 background-color:rgba(0,0,0,.6);
 z-index:2;
 
}

.slider .carousel-item{
-webkit-background-size: cover;
-moz-background-size: cover;
 -o-background-size: cover;
 background-size:cover;
}

.slider .carousel-one{
 background-image: url('../images/Kopio-tiedostosta-läppäri-näyttö-espressokuppi-työpöytä.jpg')
}

.slider .carousel-two{
 background-image: url('../images/2.jpg')
}

.slider .carousel-three{
 background-image: url('../images/Laptop.jpg')
}
.slider .carousel-indicators li{
 height: 8px;
 cursor: pointer;
}
/*end slider*/

/*start features*/
.features{
 padding: 50px 0;
}
.features i{
 background-color:#ed1d24;
 color:#fff;
 padding: 12px;
 margin-bottom: 10px;
}
.features h3{
 color:#08526d;
 font-size: 22px;
 
}
.features p{
 color:#989898;
 margin-bottom: 40px;
}

/*end features*/