*{
    margin: 0px;
    padding: 0px;

}
body{
    background-image: url(../img/504b542fc751669514fc1d108e467265.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;

}


.col-md-5{
    margin-top: 20px;
    background:rgba(0, 0, 0, 0.3);
}
label{
    width: 100px;
    font-weight: normal;
    margin-top: 5px;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 450px;
}
.form-control{
    background:transparent;
    border-radius: 0px;
     border: 0px;
     border-bottom: 1px solid white ;
     font-size: 20px;
     margin-top: 15px;
     height: 30px;
     color: white;
     position: absolute;
     right: 180px;
}
input[type="chexkbox"]{
    margin-top: 10px;
    width: 15px;
    height: 15px;

}
small{
    color: white;
    font-size: 18px;
}
input[type="radio"]{
    margin-top: 22px;
    
}
option{
    color: gray;
}
.btn-info{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn-warning{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-left: 30px;
    margin-bottom: 20px;
}