

  body{
    height: 2000px;;
   }

   /* start navbar*/
.navbar-brand span{
    color:#000;
     font-weight: bold;
     font-size: 20px;
  }
  
  .navbar-brand{
       font-size: 25px;
      
  }
  
  .navbar-nav .nav-link{
    font-weight: bold;
    font-size: 20px;
    margin:  10px 20px;
    text-transform: uppercase;
    color:#000 !important;
      
    
  }
   .navbar-nav a:hover{
      background:#ccc ;
  }
  .navbar-nav .active > .nav-link{
      color: #ec1c23 !important
  }
  .nav-item .dropdown-menu {
      background: #ccc;
      font-weight: bolder;
      font-size: 20px;
      margin-top: 20px;
  }
  
  /* end navbar*/
  /*start about me*/
.aboutme{
    
    background:#f2f2f2;
    overflow:hidden;
    margin-top: 20px;
    
  }
  .aboutme .image{
    float:left;
    width:40%;
  
  }
  
  
  .aboutme .info {
    
     float:left;
    width:50%;
    
  }
  .aboutme .info h2{margin: 50px 50px 40px 150px;

}
  
  .aboutme .info > p {
  margin: 0 0 5px 20px;
  text-align: center;
   font-weight: bold;
  }
  .aboutme .info p:last-of-type{
  margin: 10px 0 10px 20px;
  
  }
input{
width: 200px;
border-radius:20px;
height: 50px;
margin-left: 200px;
margin-top: 20px;
font-weight: bold;
}



  /*end about me*/

/*start features*/
.features{
    padding: 50px 0;
    margin-top: 20px;
    background-color:springgreen;
   }
  .row{
      margin-left: 100px;
      margin-bottom: 50px;
  }
   .features h3{
    color:#08526d;
    font-size: 22px;
    padding-top: 10px;
   }
   .features p{
    color:#000;
    margin-bottom: 40px;
   }
   
   /*end features*/

   /*strat latest post*/
.latest-post{
    padding: 30px 0;
    margin-bottom: 50px 0;
   }
   
   .latest-post h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
   }
   .latest-post .paragrph{
    font-weight: bold;
   width:80%;
   margin: 0 auto 50px;
   }
   
   .latest-post .card {
    margin-bottom: 10px;
   }
   .latest-post .card .card-title{
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.6;
    color: #08526d;
   }
   .latest-post .card .card-text{
    color: #787878;
   }
   .latest-post .card .card-link{
    color: #ed1d24;
    font-weight: bold;
   }
   
   /*end latest post*/