  body{
 height:1000px;
}


/* start navbar*/
.navbar-brand span{
  color:#000;
   font-weight: bold;
   font-size: 20px;
}

.navbar-brand{
     font-size: 25px;

}

.navbar-nav .nav-link{
  font-weight: bold;
  font-size: 20px;
  margin:  10px 20px;
  text-transform: uppercase;
  color:#000 !important;


}
 .navbar-nav a:hover{
    background:#ccc ;
}
.navbar-nav .active > .nav-link{
    color: #ec1c23 !important
}
.nav-item .dropdown-menu {
    background: #ccc;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}

/* end navbar*/

/*start slider*/
.slider{
  background-color:#ddd
 }
 .slider .carousel-inner{
  display:flex;
  align-items:center;
  justify-content:left;

 }
 .slider .carousel-inner h1{
  position: absolute;
  color: #fff;
  z-index:3;
  font-size: 70px;
  max-width: 900px;
  line-height: 1.2;
  left: 200px;
 }
 .slider .carousel-inner h1 span{
  background-color:#ec1c23;
  display: inline-block;
  padding: 2px 20px;
 }


 .slider .carousel-item{
 -webkit-background-size: cover;
 -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
 }

 .slider .carousel-one{
  background-image: url('../img/وظائف-513x330.png')
 }


 /*end slider*/


.tour-package {
  background-image: url(public/front/home/img/home1/package-bg.jpg);
  background-size: cover;
  background-repeat: tourno-repeat;
  background-position: center;
  padding: 100px 0 70px;
}

.single-package {
  background: #ffffff;
  margin: 0 0 30px;
}

.single-package .img {
  position: relative;
}

.single-package .img a {
  display: block;
}

.single-package .img img {
  width: 100%;
}

.single-package .img .off {
  position: absolute;
  left: 0;
  top: 30px;
  color: #ffffff;
  background-color: #ee5351;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 22px;
  z-index: 2;
}

.single-package .img .off::before {
  content: "";
  position: absolute;
  background-image: url(../img/home1/package-icon.png);
  background-position: center;
  width: 116px;
  height: 66px;
  z-index: -1;
  left: -17px;
  top: -6px;
}

.single-package .content {
  padding: 28px 24px 28px 28px;
}

.single-package .content .name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.single-package .content .name-price .np-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  padding-right: 5px;
}

.single-package .content .name-price .np-name .name {
  color: #454545;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 12px;
  letter-spacing: 0;
}

.single-package .content .name-price .np-name .name:hover {
  color: #03a3f0;
}

.single-package .content .name-price .np-name .duration {
  color: #979797;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.single-package .content .name-price .np-name .duration .icon {
  color: #03a3f0;
  margin-right: 4px;
}

.single-package .content .name-price .np-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding-left: 5px;
  text-align: right;
}

.single-package .content .name-price .np-price .from {
  color: #979797;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.single-package .content .name-price .np-price .from.cross {
  text-decoration: line-through;
}

.single-package .content .name-price .np-price .price {
  color: #03a3f0;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}

.package-carousel .owl-nav div {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
  height: 60px;
  width: 60px;
  line-height: 60px;
  background: #03a3f0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.package-carousel .owl-nav .owl-prev {
  left: -360px;
}

.package-carousel .owl-nav .owl-next {
  right: -360px;
}
