  body{
 height:700px;
}


/* start navbar*/
.navbar-brand span{
  color:#fff;
   font-weight: bold;
   font-size: 20px;
}

.navbar-brand{
     font-size: 25px;
    
}

.navbar-nav .nav-link{
  font-weight: bold;
  font-size: 15px;
  margin:  10px 20px;
  text-transform: uppercase;
  color:#fff !important;
    
  
}
 .navbar-nav a:hover{
    background:#141414 ;
}
.navbar-nav .active > .nav-link{
    color: #ec1c23 !important
}
.nav-item .dropdown-menu {
    background: #ccc;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}

/* end navbar*/

/*start slider*/
.slider{
  background-color:#ddd
 }
 .slider .carousel-inner{
  display:flex;
  align-items:center;
  justify-content:left;
  
 }
 .slider .carousel-inner h1{
  position: absolute;
  color: #fff;
  z-index:3;
  font-size: 70px;
  max-width: 900px;
  line-height: 1.2;
  left: 200px;
 }
 .slider .carousel-inner h1 span{
  background-color:#ec1c23;
  display: inline-block;
  padding: 2px 20px;
 }
 
 
 .slider .carousel-item{
 -webkit-background-size: cover;
 -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
 }
 
 .slider .carousel-one{
  background-image: url('../img/وظائف-513x330.png')
 }
 

 /*end slider*/



