*{
    margin: 0px;
    padding: 0px;

}
body{
    background-image: url(../img/blog/post-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;

}
h2{
    font-size: 25px;
    color: white;

}

.col-md-5{
    width: 300px;
    margin-top: 80px;
    background:rgba(0, 0, 0, 0.8);
 
}
label{
    font-weight: normal;
    margin-top: 15PX;
    color: white;
    font-size: 20px;
}
.form-control{
    
    border-radius: 0px;
     border: 0px;
     border-bottom: 1px solid white ;
     font-size: 20px;
     margin-top: 15px;
     height: 40px;
     color:black;

}
input[type="chexkbox"]{
    margin-top: 15px;
    width: 15px;
    height: 15px;

}
small{
    color: white;
    font-size: 18px;
}
input[type="radio"]{
    margin-top: 22px;
}
option{
    color: gray;
}
.btn-info{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.btn-warning{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    margin-left: 80px;
    margin-bottom: 20px;
}