body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url(../img/blog/post-3.jpg);
    background-size: cover;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 350px;
    height: 420px;
    background:rgba(0, 0, 0, .5);
    border-radius: 15px;
    box-sizing: border-box;
}
h2 {
    color: #fff;
    text-align: center;
    margin-top: 90px;
}

input[type="text"],[type="password"]{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #0094ff;
    background:none;
    padding: 5px;
    color: #fff;
}
input[type="text"]{
    top: 140px;
    left: 50px;
}
input[type="password"]{
    top: 210px;
    left: 50px;
}
::placeholder{
    color: azure;
}
input[type="submit"]{
  position: absolute;
  top: 305px;
  left: 110px;
  width: 130px;
  height: 35px;
  background:#0094ff;
  border:none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}
input[type="submit"]:hover{
    background:#fff;
    color: #0077ff;
}
p {
    position: absolute;
    top: 360px;
    left: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
p:hover{
    color: #77c9ff;   
}
