/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {

/* home one */

.package-carousel .owl-nav .owl-prev {
    left: -110px;
}
.package-carousel .owl-nav .owl-next {
    right: -110px;
}

/* home two */
.v2-search-area .v2sa-left {
    padding: 78px 20px 78px 50px;
}
.v2-search-area .v2sa-right .v2sa-input-box {
    margin-right: 3px;
}
.v2-search-area .v2sa-right .v2sa-input-box select,
.v2-search-area .v2sa-right .v2sa-input-box input[type="text"],
.v2-search-area .v2sa-right .v2sa-input-box input[type="number"] {
    min-width: 190px;
}




}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/* home one */
.package-carousel .owl-nav .owl-prev {
    left: 0;
}
.package-carousel .owl-nav .owl-next {
    right: 0;
}
.testimonial-carousel .owl-nav .owl-prev {
    left: 0;
}
.testimonial-carousel .owl-nav .owl-next {
    right: 0;
}
.hta-contact .text {
    margin-right: 0;
    font-size: 12px;
}
.hta-contact .text .icon {
    margin-right: 2px;
}

/* home two */
.v2-search-area .v2sa-right .v2sa-input-box {
    margin-right: 20px;
}
.v2-search-area .v2sa-right .v2sa-input-box select,
.v2-search-area .v2sa-right .v2sa-input-box input[type="text"],
.v2-search-area .v2sa-right .v2sa-input-box input[type="number"] {
    max-width: 150px;
    min-width: 150px;
}
.v2-search-area .v2sa-left {
    padding: 78px 20px 78px 20px;
}




}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

/* home one */
.header-bottom-area.navbar-fixed-top {
    animation: none;
    box-shadow: 0;
    position: unset;
}
.package-carousel .owl-nav .owl-prev {
    left: 0;
}
.package-carousel .owl-nav .owl-next {
    right: 0;
}
.testimonial-carousel .owl-nav .owl-prev {
    left: 0;
}
.testimonial-carousel .owl-nav .owl-next {
    right: 0;
}
.hta-infos {
    text-align: center;
}
.main-menu {
    text-align: right;
}
.hero-area {
    padding: 250px 0;
}
.newsletter-form .newsletter-input-box input[type="text"] {
    width: 55%;
}
.newsletter-form .newsletter-input-box input[type="submit"] {
    padding: 0 14px;
}

/* home two */
.v2-header-middle-area .v2-hma-info .text.address {
    font-size: 12px;
}
.v2-search-area .v2sa-right .v2sa-input-box {
    margin-right: 20px;
}
.v2-search-area .v2sa-right .v2sa-input-box select,
.v2-search-area .v2sa-right .v2sa-input-box input[type="text"],
.v2-search-area .v2sa-right .v2sa-input-box input[type="number"] {
    min-width: 190px;
}
.single-v2-info {
    border-color: transparent;
}



}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {

/* home one */
.header-bottom-area.navbar-fixed-top {
    animation: none;
    box-shadow: 0;
    position: unset;
}
.hta-infos {
    text-align: center;
}
.main-menu {
    text-align: right;
}
.hero-area {
    padding: 200px 0;
}
.hero-area .hero-content .title {
    font-size: 40px;
    line-height: 47px;
}
.book-form-full {
    flex-wrap: wrap;
}
.book-form-full .bff-input-box {
    width: 50%;
    margin-right: 0;
    margin-bottom: 10px;
}
.book-form-full .bff-input-box:last-child {
    margin-bottom: 0;
}
.gallery-all-content .single-gallery {
    flex: 1 1 33%;
    max-width: 33%;
}
.newsletter-form {
    text-align: right;
}
.package-carousel .owl-nav .owl-prev {
    left: 0;
}
.package-carousel .owl-nav .owl-next {
    right: 0;
}
.testimonial-carousel .owl-nav .owl-prev {
    left: 0;
}
.testimonial-carousel .owl-nav .owl-next {
    right: 0;
}

/* home two */
.v2-hero-area {
    padding: 150px 0;
}
.v2-hero-content .title {
    font-size: 30px;
    line-height: 34px;
}
.v2-hero-carousel .owl-dots {
    bottom: -130px;
}
.v2-hero-carousel .owl-nav div {
    display: none;
}
.v2-header-middle-area .v2-hma-info .text .icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
}
.v2-header-middle-area .v2-hma-info .text {
    padding-left: 54px;
    line-height: 50px;
}
.v2-header-middle-area .v2-hma-info .text.address {
    line-height: 14px;
}
.v2-search-area .v2sa-right .v2sa-input-box {
    margin-right: 0;
    margin-bottom: 30px;
}
.v2-search-area .v2sa-right .v2sa-input-box:last-child {
    margin-bottom: 0;
}
.single-v2-info {
    border-color: transparent;
}

/* about */
.team-carousel .owl-nav .owl-prev {
    left: 0;
}
.team-carousel .owl-nav .owl-next {
    right: 0;
}




}


/* Small Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {

/* home one */
.header-bottom-area.navbar-fixed-top {
    animation: none;
    box-shadow: 0;
    position: unset;
}
.hta-contact {
    text-align: center;
}
.hta-infos {
    text-align: center;
}
.logo {
    padding: 10px 0;
    text-align: center;
}
.main-menu {
    padding: 15px 0;
}
.search {
    padding: 20px 0;
}
.hero-area {
    padding: 200px 0;
}
.hero-area .hero-content .title {
    font-size: 40px;
    line-height: 44px;
}
.hero-area .hero-content {
    padding: 30px 20px;
}
.book-form-full {
    flex-wrap: wrap;
}
.book-form-full .bff-input-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}
.book-form-full .bff-input-box:last-child {
    margin-bottom: 0;
}
.section-title .title {
    font-size: 24px;
    line-height: 28px;
}
.video-content .title {
    font-size: 34px;
    line-height: 38px;
}
.single-package .content .name-price .np-name .duration {
    font-size: 12px;
}
.single-package .content .name-price .np-price .price {
    font-size: 18px;
}
.single-package .content .name-price .np-price .price {
    font-size: 18px;
}
.gallery-all-content .single-gallery {
    flex: 1 1 50%;
    max-width: 50%;
}
.single-testimonial .img {
    float: none;
}
.single-testimonial .content {
    padding: 20px 0 0;
}
.package-carousel .owl-nav .owl-prev {
    left: 0;
}
.package-carousel .owl-nav .owl-next {
    right: 0;
}
.newsletter-form .newsletter-input-box input[type="text"] {
    width: 100%;
}
.newsletter-form {
    margin-top: 20px;
}
.testimonial-carousel .owl-nav .owl-prev {
    left: 0;
}
.testimonial-carousel .owl-nav .owl-next {
    right: 0;
}

/* home two */
.v2-hero-area {
    padding: 150px 0;
}
.v2-hero-content .title {
    font-size: 30px;
    line-height: 34px;
}
.v2-hero-carousel .owl-dots {
    bottom: -130px;
}
.v2-hero-carousel .owl-nav div {
    display: none;
}
.v2-search-area .v2sa-left {
    padding: 78px 20px 78px 50px;
}
.v2-search-area .v2sa-right .v2sa-input-box {
    margin-right: 0;
    margin-bottom: 30px;
}
.v2-search-area .v2sa-right .v2sa-input-box:last-child {
    margin-bottom: 0;
}
.single-v2-carousel .price-rating .rating li {
    font-size: 10px;
}
.single-v2-carousel .title {
    font-size: 20px;
    line-height: 24px;
}
.single-v2-carousel .price-rating .price {
    font-size: 30px;
    line-height: 36px;
}
.single-v2-carousel .btns .link {
    padding: 0 4px;
    margin-right: 0;
    font-size: 10px;
}

/* about */
.page-about-area .page-about-banner {
    margin-top: 30px;
}
.team-carousel .owl-nav div {
    display: none;
}

/* single blog */
.page-single-blog .breadcumb {
    padding: 30px 0 0;
}
.page-single-blog .share-tags .st-tags {
    flex: 0 0 100%;
}
.page-single-blog .share-tags .st-share {
    flex: 0 0 100%;
    text-align: left;
}
.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .img {
    float: none;
}
.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .content {
    padding: 20px 0 0;
}



}


/*big from small mobile, small from wide mobile*/
@media only screen and (min-width: 380px) and (max-width: 480px) {

}