@charset "UTF-8";
/*-----------------------------------------------------------------------------------

    Template Name: 
    Template URI: 
    Description: This is html5 template
    Author: 
    Author URI: 
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================
  
    Theme default CSS
    1. Home
        1.2 Hero
        1.3 Booking
        1.4 Why Area
        1.5 Video
        1.6 Destination
        1.7 Package
        1.8 Gallery
        1.9 Blog
        1.10 Testimonial
        1.11 Logo
        1.12 Newsletter
        1.13 Footer
    2. Home Two
        2.2 Hero
        2.3 Search
        2.4 Why
        2.5 Hotel
        2.6 Best Tour
        2.7 Info
        2.8 Blog
    3. About
    4. 404
    5. Blog
    6. Contact
    7. Destination
    8. Gallery
    9. Gallery 2
    10. Single Blog
    11. Team
    12. Testimonial
    13. Tours
    
-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  Other Files
/*----------------------------------------*/
/*----------------------------------------*/
/*  Theme default CSS
/*----------------------------------------*/
/*google-font*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
.clear {
  clear: both;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}

.no-mar {
  margin: 0 !important;
}

.no-pad {
  padding: 0 !important;
}

div#preloader {
  background: #000 url("../img/loader.gif") no-repeat scroll center center;
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-bottom-area.navbar-fixed-top {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
  left: 0;
  padding: 0;
  background: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.mar-bot-50 {
  margin-bottom: 50px;
}

.mar-bot-40 {
  margin-bottom: 40px;
}

.mar-bot-35 {
  margin-bottom: 35px;
}

.mar-bot-30 {
  margin-bottom: 30px;
}

.mar-top-30 {
  margin-top: 30px;
}

.mar-top-80 {
  margin-top: 80px;
}

.mar-top-80 {
  margin-top: 80px;
}

.mar-top-55 {
  margin-top: 55px;
}

.mar-top-108 {
  margin-top: 108px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #888;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  letter-spacing: 1px;
}

/* 
Table Of Contents
=========================
- Default Typography
- Custom Typography
=========================
*/
/* 
--------------------------
- Default Typography
--------------------------
*/
body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222222;
  letter-spacing: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0;
  margin-bottom: 0px;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
  color: #757575;
}

p img {
  margin: 0;
}

span {
  font-family: 'Montserrat', sans-serif;
}

/* em and strong */
em {
  font: 15px/30px;
}

strong,
b {
  font: 15px/30px;
}

small {
  font-size: 11px;
  line-height: inherit;
}

/*  blockquotes */
blockquote {
  border-left: 0 none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  padding-left: 40px;
  position: relative;
}

blockquote::before {
  color: #4e5665;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 36px;
  left: 20px;
  line-height: 0;
  margin: 0;
  opacity: 0.5;
  position: absolute;
  top: 20px;
}

blockquote p {
  font-style: italic;
  padding: 0;
  font-size: 18px;
  line-height: 36px;
}

blockquote cite {
  display: block;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  border: none;
}

/* abbreviations */
abbr {
  color: #444;
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .6px;
}

abbr:hover {
  cursor: help;
}

/* links */
a,
a:visited {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  outline: 0;
}

a:hover,
a:active {
  color: #00b0ff;
  text-decoration: none;
  outline: 0;
}

a:focus {
  text-decoration: none;
  outline: 0;
}

p a,
p a:visited {
  line-height: inherit;
  outline: 0;
}

a.active-page {
  color: #e6ae48;
}

/* list */
ul,
ol {
  margin-bottom: 0px;
  margin-top: 0px;
}

ul {
  margin: 0;
}

ol {
  list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
  margin-left: 0px;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 0px;
}

li {
  line-height: 18px;
  margin-bottom: 0px;
}

/* definition list */
dl {
  margin: 12px 0;
}

dt {
  margin: 0;
  color: #11ABB0;
}

dd {
  margin: 0 0 0 20px;
}

/* 
--------------------------
- Custom Typography
--------------------------
*/
/* Your Custom Typography. */
.bg-with-black {
  position: relative;
}

.bg-with-black::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg-with-white {
  position: relative;
}

.bg-with-white::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg-with-blue {
  position: relative;
}

.bg-with-blue::before {
  background: #00bff3 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.hvr-bs {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

.hvr-bs:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-ripple-out {
  position: relative;
}

.btn-ripple-out::before {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: popcircle;
  animation-name: popcircle;
  border: 1px solid #ffffff;
  border-radius: 100px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@-webkit-keyframes popcircle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}

@keyframes popcircle {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}

.item-bounce {
  -webkit-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.btn-style-1 {
  border-radius: 5px;
  color: #ffffff;
  background: #03a3f0;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border: 0 none;
  text-align: center;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  padding: 0 32px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.btn-style-1:hover {
  color: #ffffff;
}

.btn-style-2 {
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  color: #757575;
  background: transparent;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  padding: 0 22px;
}

.btn-style-2:hover {
  background: #03a3f0;
  border-color: #03a3f0;
  color: #ffffff;
}

/*----------------------------------------*/
/*  1. Home
/*----------------------------------------*/
.header-top-area {
  background: #03a3f0;
}

.hta-contact {
  padding: 10px 0;
}

.hta-contact .text {
  color: #ffffff;
  display: inline-block;
  line-height: 24px;
  font-weight: 300;
  margin-right: 30px;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 0;
}

.hta-contact .text:last-child {
  margin-right: 0;
}

.hta-contact .text .icon {
  margin-right: 9px;
}

.hta-social {
  padding: 10px 0;
  text-align: center;
  list-style: none;
}

.hta-social li {
  display: inline-block;
  margin-right: 11px;
}

.hta-social li:last-child {
  margin-right: 0;
}

.hta-social li a {
  color: #ffffff;
  display: block;
  font-size: 14px;
}

.hta-infos {
  text-align: right;
  padding: 10px 0;
}

.hta-infos .text {
  color: #ffffff;
  display: inline-block;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}

.hta-infos .text::after {
  content: "";
  position: absolute;
  background: #ffffff;
  height: 10px;
  width: 1px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hta-infos .text:last-child {
  margin-right: 0;
  padding-right: 0;
}

.hta-infos .text:last-child::after {
  display: none;
}

.hta-infos .text .icon {
  margin-right: 10px;
  font-size: 10px;
}

.logo {
  padding: 27px 0;
}

.logo a {
  display: block;
}

.main-menu {
  padding: 35px 0;
}

.main-menu ul {
  text-align: right;
}

.main-menu ul li a {
  padding: 12px 12px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  font-weight: 500;
  color: #454545;
}

.main-menu ul li:hover > a {
  color: #03a3f0;
}

.main-menu ul li::last-child {
  color: unset;
}

.main-menu ul li::last-child a {
  padding-right: 0 !important;
}

.search {
  text-align: right;
  padding: 45px 0;
}

.search .search-btn {
  color: #03a3f0;
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 17px;
  line-height: 19px;
  outline: none;
}

.search-modal {
  background: rgba(0, 0, 0, 0.7);
}

.search-modal .modal-dialog {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-modal .modal-dialog .modal-content {
  background: transparent;
  border: 0;
}

.search-modal .modal-dialog .modal-content form {
  background: transparent;
  border: 0;
  padding: 0px;
  position: relative;
}

.search-modal .modal-dialog .modal-content form input[type="search"] {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  letter-spacing: 0;
  padding: 0 10px;
  background: transparent;
}

.search-modal .modal-dialog .modal-content form .search-button {
  color: #ffffff;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  padding: 0;
}

.search-modal .close-modal {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 32px;
  padding: 14px;
}

/* 1.2 Hero */
.hero-area {
  background: url(../img/plane.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 356px 0 405px;
}

.hero-area .hero-content {
  position: relative;
  z-index: 1;
  padding: 40px 50px;
}

.hero-area .hero-content::before {
  content: "";
  position: absolute;
  background: #03a3f0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hero-area .hero-content .title {
  color: #ffffff;
  font-size: 70px;
  line-height: 77px;
  font-weight: 500;
}

.hero-area .hero-content .text {
  color: #ffffff;
  line-height: 24px;
  margin: 13px 0 0;
}

/* 1.3 Booking */
.book-form-area {
  padding: 0 0 60px;
}

.book-form-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 6px 9px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 48px 44px;
  position: relative;
  top: -82px;
  margin-bottom: -82px;
}

.book-form-full .bff-input-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 20%;
  position: relative;
  margin-right: 15px;
}

.book-form-full .bff-input-box:last-child {
  margin-right: 0;
}

.book-form-full .bff-input-box select {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: 1px solid #eaeaea;
  letter-spacing: 0;
  color: #454545;
  font-size: 16px;
  font-weight: 300;
  padding: 4px 20px;
}

.book-form-full .bff-input-box input[type="text"] {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: 1px solid #eaeaea;
  letter-spacing: 0;
  color: #454545;
  font-size: 16px;
  font-weight: 300;
  padding: 4px 40px 4px 20px;
}

.book-form-full .bff-input-box input[type="number"] {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: 1px solid #eaeaea;
  letter-spacing: 0;
  color: #454545;
  font-size: 16px;
  font-weight: 300;
  padding: 4px 10px 4px 20px;
}

.book-form-full .bff-input-box input[type="submit"] {
  border-radius: 5px;
  color: #ffffff;
  background: #03a3f0;
  width: 100%;
  height: 50px;
  border: 0 none;
  text-align: center;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.book-form-full .bff-input-box .icon {
  color: #03a3f0;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
}

/* 1.4 Why Area */
.section-title {
  text-align: center;
  margin: 0 0 60px;
}

.section-title .title {
  display: inline-block;
  position: relative;
  font-size: 40px;
  line-height: 42px;
  padding: 0 0 14px;
}

.section-title .title::before {
  content: "";
  position: absolute;
  background: #ececec;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
}

.section-title .title::after {
  content: "";
  position: absolute;
  background: #03a3f0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 42px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: leftright;
  animation-name: leftright;
}

.section-title.color-white .title {
  color: #ffffff;
}

@-webkit-keyframes leftright {
  0% {
    width: 42px;
  }
  33% {
    width: 22px;
  }
  100% {
    width: 42px;
  }
}

@keyframes leftright {
  0% {
    width: 42px;
  }
  33% {
    width: 22px;
  }
  100% {
    width: 42px;
  }
}

.why-area {
  padding: 34px 0 63px;
}

.single-why {
  text-align: center;
  margin: 0 0 30px;
}

.single-why .icon {
  text-align: center;
}

.single-why .icon .icon-box {
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-radius: 100px;
  height: 150px;
  width: 150px;
  line-height: 150px;
}

.single-why .icon .icon-box img {
  margin: auto;
  height: 58px;
  width: auto;
}

.single-why .content {
  margin: 47px 0 0;
}

.single-why .content .text {
  margin: 18px 0 0;
}

.single-why:hover .icon .icon-box img {
  -webkit-animation: zoomimg 2s infinite ease-in-out;
  animation: zoomimg 2s infinite ease-in-out;
}

@-webkit-keyframes zoomimg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomimg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* 1.5 Video */
.video-area {
  background: url(../img/home1/video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 180px 0 190px;
}

.video-area::before {
  background: #03a3f0;
  opacity: 0.7;
}

.video-content {
  text-align: center;
}

.video-content .popup-youtube {
  display: inline-block;
  color: #ffffff;
  font-size: 66px;
  line-height: 66px;
}

.video-content .title {
  color: #ffffff;
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin: 46px 0 0;
}

/* 1.6 Destination */
.destination-area {
  padding: 100px 0 70px;
}

.single-destination {
  position: relative;
  margin: 0 0 30px;
}

.single-destination::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0.3;
}

.single-destination .img img {
  width: 100%;
}

.single-destination .content {
  position: absolute;
  text-align: center;
  bottom: 86px;
  left: 0;
  right: 0;
  padding: 0 10px 0;
  z-index: 5;
}

.single-destination .content .title {
  color: #ffffff;
  font-size: 30px;
  line-height: 34px;
}

.single-destination .content .type {
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
}

.single-destination .content .link {
  margin: 24px 0 0;
  opacity: 0;
}

.single-destination .content .link .icon {
  margin-left: 3px;
}

.single-destination:hover .link {
  opacity: 1;
}

/* 1.7 Package */
.tour-package {
  background-image: url(../img/home1/package-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 70px;
}

.single-package {
  background: #ffffff;
  margin: 0 0 30px;
}

.single-package .img {
  position: relative;
}

.single-package .img a {
  display: block;
}

.single-package .img img {
  width: 100%;
}

.single-package .img .off {
  position: absolute;
  left: 0;
  top: 30px;
  color: #ffffff;
  background-color: #ee5351;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 22px;
  z-index: 2;
}

.single-package .img .off::before {
  content: "";
  position: absolute;
  background-image: url(../img/home1/package-icon.png);
  background-position: center;
  width: 116px;
  height: 66px;
  z-index: -1;
  left: -17px;
  top: -6px;
}

.single-package .content {
  padding: 28px 24px 28px 28px;
}

.single-package .content .name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.single-package .content .name-price .np-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  padding-right: 5px;
}

.single-package .content .name-price .np-name .name {
  color: #454545;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 12px;
  letter-spacing: 0;
}

.single-package .content .name-price .np-name .name:hover {
  color: #03a3f0;
}

.single-package .content .name-price .np-name .duration {
  color: #979797;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.single-package .content .name-price .np-name .duration .icon {
  color: #03a3f0;
  margin-right: 4px;
}

.single-package .content .name-price .np-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding-left: 5px;
  text-align: right;
}

.single-package .content .name-price .np-price .from {
  color: #979797;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.single-package .content .name-price .np-price .from.cross {
  text-decoration: line-through;
}

.single-package .content .name-price .np-price .price {
  color: #03a3f0;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}

.package-carousel .owl-nav div {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 60px;
  width: 60px;
  line-height: 60px;
  background: #03a3f0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.package-carousel .owl-nav .owl-prev {
  left: -360px;
}

.package-carousel .owl-nav .owl-next {
  right: -360px;
}

/*----------------------------------------*/
/*  1.8 Gallery
/*----------------------------------------*/
.gallery-area {
  padding: 100px 0 50px;
}

.gallery-all-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-all-content .single-gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 25%;
  position: relative;
}

.gallery-all-content .single-gallery::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #03a3f0;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

.gallery-all-content .single-gallery a {
  display: block;
}

.gallery-all-content .single-gallery a .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 3;
  opacity: 0;
}

.gallery-all-content .single-gallery img {
  width: 100%;
}

.gallery-all-content .single-gallery:hover::before {
  opacity: 0.7;
}

.gallery-all-content .single-gallery:hover a .icon {
  opacity: 1;
}

.see-more {
  text-align: center;
  margin: 50px 0 0;
}

/*----------------------------------------*/
/*  1.9 Blog
/*----------------------------------------*/
.blog-area {
  padding: 50px 0 70px;
}

.single-blog {
  margin: 0 0 30px;
}

.single-blog .img {
  position: relative;
}

.single-blog .img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #03a3f0;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

.single-blog .img a {
  display: block;
}

.single-blog .img img {
  width: 100%;
}

.single-blog .content {
  padding: 30px 0 0;
}

.single-blog .content .title {
  color: #454545;
  font-size: 18px;
  line-height: 22px;
}

.single-blog .content .meta {
  padding: 0;
  list-style: none;
  margin: 7px 0 0;
}

.single-blog .content .meta li {
  display: inline-block;
  margin-right: 18px;
  color: #757575;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
}

.single-blog .content .meta li .icon {
  margin-right: 6px;
}

.single-blog .content .meta li:last-child {
  margin-right: 0;
}

.single-blog .content .text {
  color: #757575;
  font-size: 16px;
  line-height: 23px;
  margin: 14px 0 0;
}

.single-blog .content .more {
  margin: 29px 0 0;
}

.single-blog:hover .img::before {
  opacity: 0.3;
}

/*----------------------------------------*/
/*  1.10 Testimonial
/*----------------------------------------*/
.testimonial-area {
  background: url(../img/home1/testimonial-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

.single-testimonial {
  border: 1px solid #ffffff;
  border-radius: 3px;
  overflow: hidden;
  padding: 50px 40px;
}

.single-testimonial .img {
  float: left;
  width: 66px;
}

.single-testimonial .img img {
  border-radius: 100px;
}

.single-testimonial .content {
  overflow: hidden;
  padding: 0 0 0 24px;
}

.single-testimonial .content .name {
  color: #ffffff;
  font-weight: 600;
}

.single-testimonial .content .desg {
  color: #ffffff;
  font-weight: 600;
  margin: 10px 0 0;
}

.single-testimonial .content .stars {
  padding: 0;
  list-style: none;
  margin: 7px 0 0;
}

.single-testimonial .content .stars li {
  display: inline-block;
  font-size: 14px;
  color: #ffb32d;
}

.single-testimonial .content .text {
  color: #979797;
  line-height: 23px;
  font-weight: 300;
  margin: 10px 0 0;
}

.testimonial-carousel .owl-nav div {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 34px;
  width: 34px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
}

.testimonial-carousel .owl-nav div:hover {
  background: #03a3f0;
  border-color: #03a3f0;
}

.testimonial-carousel .owl-nav .owl-prev {
  left: -100px;
}

.testimonial-carousel .owl-nav .owl-next {
  right: -100px;
}

/*----------------------------------------*/
/*  1.11 Logo
/*----------------------------------------*/
.logo-area {
  padding: 100px 0;
}

.single-logo {
  border: 1px solid #f1f1f1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 3px;
  text-align: center;
  height: 84px;
  line-height: 84px;
  padding: 20px 0;
}

.single-logo:hover {
  border-color: #03a3f0;
}

.single-logo img {
  width: auto !important;
  margin: auto;
  line-height: 84px;
}

/*----------------------------------------*/
/*  1.12 Newsletter
/*----------------------------------------*/
.newsletter-area {
  background: #03a3f0;
  padding: 70px 0;
}

.newsletter-info .title {
  color: #ffffff;
  font-weight: 400;
}

.newsletter-info .text {
  color: #ffffff;
  font-weight: 300;
}

.newsletter-form {
  text-align: right;
}

.newsletter-form .newsletter-input-box input[type="text"] {
  display: inline-block;
  background: #0097df;
  color: #ffffff;
  border: 0 none;
  border-radius: 3px;
  font-size: 18px;
  padding: 0 20px;
  height: 55px;
}

.newsletter-form .newsletter-input-box input[type="submit"] {
  background: #ffffff;
  border: 0 none;
  border-radius: 3px;
  color: #454545;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  padding: 0 32px;
  height: 55px;
}

/*----------------------------------------*/
/*  1.13 Footer
/*----------------------------------------*/
footer {
  background: #1d2025;
  padding: 110px 0 0;
}

.footer-top-area {
  padding: 0 0 90px;
}

.footer-widget {
  margin: 0 0 30px;
}

.footer-widget .title {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 28px;
}

.footer-widget .text {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 30px;
}

.footer-widget .social {
  padding: 0;
  list-style: none;
}

.footer-widget .social li {
  display: inline-block;
  margin-right: 12px;
}

.footer-widget .social li:last-child {
  margin-right: 0;
}

.footer-widget .social li a {
  color: #ffffff;
  display: block;
  font-size: 18px;
}

.footer-widget .social li a:hover {
  color: #03a3f0;
}

.footer-widget .contact {
  padding: 0;
  list-style: none;
}

.footer-widget .contact li {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  position: relative;
  margin: 0 0 30px;
  padding: 0 0 0 40px;
}

.footer-widget .contact li:last-child {
  margin-bottom: 0;
}

.footer-widget .contact li .icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28px;
  line-height: 28px;
  display: inline-block;
  color: #03a3f0;
}

.footer-widget .links {
  padding: 0;
  list-style: none;
}

.footer-widget .links li {
  display: block;
  margin: 0 0 4px;
}

.footer-widget .links li:last-child {
  margin-bottom: 0;
}

.footer-widget .links li a {
  display: block;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding: 0 0 0 24px;
  color: #ffffff;
}

.footer-widget .links li a .icon {
  position: absolute;
  left: 0;
  top: 0;
  color: #03a3f0;
}

.footer-widget .insta {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
}

.footer-widget .insta li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  max-width: 33%;
  padding: 0 7px;
  margin-bottom: 15px;
}

.footer-widget .insta li a {
  display: block;
}

.footer-widget .insta li a img {
  width: 100%;
}

.footer-bottom-area {
  background: #191c22;
}

.fba-content {
  position: relative;
  padding: 20px 0;
}

.fba-content .copyright {
  color: #ffffff;
  text-align: center;
}

.fba-content .go-top {
  position: absolute;
  right: 0;
  top: -23px;
}

/*----------------------------------------*/
/*  2. Home Two
/*----------------------------------------*/
.v2-header-top-area {
  background: #f2f2f2;
}

.v2-header-top-area .hta-contact .text {
  color: #454545;
}

.v2-header-top-area .hta-social li a {
  color: #454545;
}

.v2-header-top-area .hta-infos .text {
  color: #454545;
}

.v2-header-top-area .hta-infos .text::after {
  background: #454545;
}

.v2-header-middle-area {
  padding: 18px 0;
}

.v2-header-middle-area .v2-hma-info {
  padding: 10px 0;
}

.v2-header-middle-area .v2-hma-info .text {
  color: #454545;
  display: block;
  overflow: hidden;
  padding-left: 84px;
  line-height: 64px;
  letter-spacing: 0;
  position: relative;
}

.v2-header-middle-area .v2-hma-info .text.address {
  font-weight: 300;
  line-height: 32px;
}

.v2-header-middle-area .v2-hma-info .text .icon {
  background: #f5f5f5;
  border-radius: 100px;
  color: #03a3f0;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 64px;
  width: 64px;
  line-height: 64px;
}

.v2-header-middle-area .v2-hma-logo {
  text-align: center;
  padding: 10px 0;
}

.v2-header-middle-area .v2-hma-logo a {
  display: block;
}

.v2-header-bottom-area {
  background: #151515;
}

.v2-header-bottom-area .main-menu {
  background: #151515;
  text-align: center;
  padding: 10px 12px;
}

.v2-header-bottom-area .main-menu ul {
  background: #151515;
  text-align: center;
}

.v2-header-bottom-area .main-menu ul li a {
  color: #ffffff;
}

.v2-header-bottom-area .main-menu ul li ul {
  background: #151515;
  text-align: left;
}

.v2-header-bottom-area .main-menu.mobile ul li a {
  color: #000000;
}

.v2-header-bottom-area .stellarnav.light .menu-toggle span.bars span {
  background: #ffffff;
}

/* 2.2 Hero */
.v2-hero-area {
  background: url(../img/home2/slider-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px 0 220px;
}

.v2-hero-content .title {
  font-size: 50px;
  line-height: 54px;
  font-weight: 900;
}

.v2-hero-content .link {
  margin: 36px 0 0;
}

.v2-hero-carousel .owl-nav div {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.v2-hero-carousel .owl-nav .owl-prev {
  left: -80px;
}

.v2-hero-carousel .owl-nav .owl-next {
  right: -80px;
}

.v2-hero-carousel .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -182px;
  text-align: center;
}

.v2-hero-carousel .owl-dots .owl-dot {
  background: #ffffff;
  border-radius: 100px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 8px;
}

.v2-hero-carousel .owl-dots .owl-dot.active {
  background: #03a3f0;
  width: 35px;
}

/* 2.3 Search */
.v2-search-area {
  background: #03a3f0;
}

.v2-search-area .v2sa-left {
  background: #31353e;
  padding: 78px 20px 78px 150px;
}

.v2-search-area .v2sa-left .intro {
  color: #03a3f0;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 14px;
}

.v2-search-area .v2sa-left .title {
  color: #ffffff;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
}

.v2-search-area .v2sa-right {
  padding: 74px 30px 75px 30px;
}

.v2-search-area .v2sa-right .v2sa-input-box {
  display: inline-block;
  position: relative;
  margin-right: 34px;
}

.v2-search-area .v2sa-right .v2sa-input-box:last-child {
  margin-right: 0;
}

.v2-search-area .v2sa-right .v2sa-input-box .label {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 20px;
}

.v2-search-area .v2sa-right .v2sa-input-box select {
  color: #ffffff;
  background: #009ce7;
  font-size: 14px;
  letter-spacing: 0;
  border: 0 none;
  font-weight: 300;
  min-width: 240px;
  height: 50px;
  padding: 5px 34px 5px 10px;
  text-transform: capitalize;
}

.v2-search-area .v2sa-right .v2sa-input-box input[type="text"] {
  color: #ffffff;
  background: #009ce7;
  font-size: 14px;
  letter-spacing: 0;
  border: 0 none;
  font-weight: 300;
  min-width: 240px;
  height: 50px;
  padding: 5px 34px 5px 10px;
  text-transform: capitalize;
}

.v2-search-area .v2sa-right .v2sa-input-box input[type="number"] {
  color: #ffffff;
  background: #009ce7;
  font-size: 14px;
  letter-spacing: 0;
  border: 0 none;
  font-weight: 300;
  min-width: 240px;
  height: 50px;
  padding: 5px 10px 5px 10px;
  text-transform: capitalize;
}

.v2-search-area .v2sa-right .v2sa-input-box input[type="submit"] {
  background: #009ce7;
}

.v2-search-area .v2sa-right .v2sa-input-box .icon {
  position: absolute;
  right: 24px;
  top: 56%;
  color: #ffffff;
  font-size: 14px;
}

/* 2.4 Why */
.v2-why-area {
  padding-top: 100px;
}

.v2-single-why .icon .icon-box {
  border: 0 none;
  height: auto;
  width: auto;
  line-height: unset;
}

.v2-single-why .icon .icon-box img {
  height: 46px;
}

/* 2.5 Hotel */
.v2-hotel-area {
  background: url(../img/home2/hotel-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
}

.single-v2-carousel {
  background: #ffffff;
  padding: 60px 30px;
}

.single-v2-carousel .title {
  color: #454545;
  font-size: 34px;
  line-height: 38px;
}

.single-v2-carousel .price-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 22px 0 0;
}

.single-v2-carousel .price-rating .price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-size: 40px;
  line-height: 44px;
  color: #03a3f0;
}

.single-v2-carousel .price-rating .price .icon {
  font-size: 18px;
  font-family: unset;
  position: relative;
  top: -12px;
}

.single-v2-carousel .price-rating .price .avg {
  color: #454545;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
}

.single-v2-carousel .price-rating .rating {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0;
  list-style: none;
  text-align: right;
}

.single-v2-carousel .price-rating .rating li {
  display: inline-block;
  color: #faa920;
  font-size: 14px;
}

.single-v2-carousel .text {
  color: #454545;
  line-height: 24px;
  font-weight: 300;
  margin: 26px 0 0;
}

.single-v2-carousel .btns {
  margin: 48px 0 0;
}

.single-v2-carousel .btns .link {
  padding: 0 14px;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
}

.single-v2-carousel .btns .link:last-child {
  margin-right: 0;
}

/* 2.6 Best Tour */
.v2-best-tour-area {
  padding: 100px 0;
}

.v2-best-tour {
  box-shadow: 0px 6px 4.7px 0.3px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 6px 4.7px 0.3px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 6px 4.7px 0.3px rgba(0, 0, 0, 0.06);
  -o-box-shadow: 0px 6px 4.7px 0.3px rgba(0, 0, 0, 0.06);
}

.v2-best-tour .content .review {
  margin: 24px 0 0;
}

.v2-best-tour .content .review .rating {
  padding: 0;
  list-style: none;
  display: inline-block;
}

.v2-best-tour .content .review .rating li {
  display: inline-block;
  color: #faa920;
  font-size: 14px;
}

.v2-best-tour .content .review .number-of {
  color: #979797;
  display: inline-block;
}

.more-best-tour {
  text-align: center;
  margin: 30px 0 0;
}

/* 2.7 Info */
.v2-info-area {
  background: url(../img/home2/info-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.single-v2-info {
  text-align: center;
  border-right: 1px solid #4fbff5;
  padding: 0 30px 20px;
  margin: 0 0 80px;
}

.single-v2-info:last-child {
  border-right: 0 none;
}

.single-v2-info .icon {
  padding: 50px 0 0;
}

.single-v2-info .icon .icon-box {
  font-size: 72px;
  line-height: 72px;
  color: #ffffff;
}

.single-v2-info .icon .icon-box img {
  height: 72px;
}

.single-v2-info .content {
  margin: 18px 0 0;
}

.single-v2-info .content .title {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

/* 2.8 Blog */
.v2-blog-area {
  padding: 100px 0 70px;
}

/*----------------------------------------*/
/*  3. About
/*----------------------------------------*/
.inner-hero-area {
  background: url(../img/about/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 34px 0;
}

.inner-hero-content {
  text-align: center;
}

.inner-hero-content .title {
  font-size: 36px;
  line-height: 40px;
}

.inner-hero-content .meta {
  padding: 0;
  list-style: none;
  margin: 16px 0 0;
}

.inner-hero-content .meta li {
  display: inline-block;
  position: relative;
  padding-right: 18px;
}

.inner-hero-content .meta li::after {
  content: "\f30b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #454545;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.inner-hero-content .meta li a {
  display: block;
  color: #454545;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

.inner-hero-content .meta li a.home {
  color: #03a3f0;
  text-transform: uppercase;
}

.inner-hero-content .meta li:last-child {
  padding-right: 0;
}

.inner-hero-content .meta li:last-child::after {
  display: none;
}

.page-about-area {
  padding: 100px 0;
}

.page-about-area .page-about-content .section-title {
  text-align: left;
}

.page-about-area .page-about-content .section-title .title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.page-about-area .page-about-content .section-title .title::after {
  left: 0;
  right: auto;
}

.page-about-area .page-about-content .text {
  color: #979797;
  line-height: 26px;
  font-weight: 300;
}

.page-about-area .page-about-content .link {
  margin: 56px 0 0;
}

.page-about-area .page-about-banner {
  text-align: right;
}

.page-about-area .page-about-banner img {
  width: 100%;
}

.team-area {
  padding: 100px 0;
}

.single-team {
  position: relative;
}

.single-team::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

.single-team .img img {
  width: 100%;
}

.single-team .content {
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 8;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

.single-team .content .t-name {
  color: #ffffff;
  font-weight: 600;
}

.single-team .content .desg {
  color: #ffffff;
  font-weight: 400;
  margin: 8px 0 0;
}

.single-team .content .social {
  padding: 0;
  list-style: none;
  margin: 10px 0 0;
}

.single-team .content .social li {
  display: inline-block;
  margin-right: 14px;
}

.single-team .content .social li:last-child {
  margin-right: 0;
}

.single-team .content .social li a {
  display: block;
  color: #ffffff;
  font-size: 14px;
}

.single-team:hover::before {
  opacity: 0.7;
}

.single-team:hover .content {
  opacity: 1;
}

.team-carousel .owl-nav div {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 100px;
  color: #979797;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
}

.team-carousel .owl-nav div:hover {
  background: #03a3f0;
  border-color: #03a3f0;
  color: #ffffff;
}

.team-carousel .owl-nav .owl-prev {
  left: -100px;
}

.team-carousel .owl-nav .owl-next {
  right: -100px;
}

/*----------------------------------------*/
/*  4. 404
/*----------------------------------------*/
.error-area {
  padding: 100px 0;
}

.error-content {
  text-align: center;
}

.error-content .img {
  text-align: center;
}

.error-content .img img {
  margin: auto;
}

.error-content .content {
  text-align: center;
  margin: 38px 0 0;
}

.error-content .content .title {
  color: #03a3f0;
  font-size: 56px;
  line-height: 60px;
}

.error-content .content .link {
  color: #03a3f0;
  display: inline-block;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: 0;
  margin: 14px 0 0;
}

/*----------------------------------------*/
/*  5. Blog
/*----------------------------------------*/
.page-blog-area {
  padding: 100px 0 40px;
}

.page-all-blog {
  margin: 0 0 60px;
}

.page-single-blog {
  margin: 0 0 36px;
}

.page-single-blog .img {
  position: relative;
}

.page-single-blog .img a {
  display: block;
}

.page-single-blog .img img {
  width: 100%;
}

.page-single-blog .vid {
  position: relative;
}

.page-single-blog .vid img {
  width: 100%;
}

.page-single-blog .vid .popup-youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  font-size: 100px;
  color: #ffffff;
}

.page-single-blog .slide .owl-nav div {
  display: inline-block;
  color: #222222;
  background: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100px;
  width: 40px;
  line-height: 100px;
  font-size: 14px;
  text-align: center;
}

.page-single-blog .slide .owl-nav div:hover {
  background: #03a3f0;
  color: #ffffff;
}

.page-single-blog .slide .owl-nav .owl-prev {
  left: 0;
}

.page-single-blog .slide .owl-nav .owl-next {
  right: 0;
}

.page-single-blog .content {
  padding: 24px 0 0;
}

.page-single-blog .content .meta {
  padding: 0;
  list-style: none;
}

.page-single-blog .content .meta li {
  display: inline-block;
  color: #979797;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0;
  margin-right: 20px;
}

.page-single-blog .content .meta li .icon {
  margin-right: 3px;
}

.page-single-blog .content .meta li:last-child {
  margin-right: 0;
}

.page-single-blog .content .meta li.date {
  color: #03a3f0;
}

.page-single-blog .content .meta li.share {
  border: 1px solid #979797;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 100px;
  text-align: center;
}

.page-single-blog .content .title {
  color: #454545;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  letter-spacing: 0;
  margin: 18px 0 0;
}

.page-single-blog .content .text {
  color: #979797;
  font-weight: 300;
  margin: 32px 0 0;
}

.page-single-blog .content .text .more {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #03a3f0;
}

.pagination ul {
  padding: 0;
  list-style: none;
}

.pagination ul li {
  display: inline-block;
  margin-right: 6px;
}

.pagination ul li:last-child {
  margin-right: 0;
}

.pagination ul li a {
  display: block;
  border: 1px solid #979797;
  color: #454545;
  font-size: 14px;
  height: 35px;
  line-height: 28px;
  min-width: 35px;
  text-align: center;
  padding: 4px 13px;
  text-transform: uppercase;
}

.pagination ul li:hover a, .pagination ul li.active a {
  background: #03a3f0;
  border-color: #03a3f0;
  color: #ffffff;
}

/* Sidebar */
.sidebar {
  margin: 0 0 30px;
}

.sidebar-widget {
  margin: 0 0 40px;
}

.sidebar-widget .title {
  color: #454545;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 28px;
  padding: 0 0 0 18px;
  position: relative;
}

.sidebar-widget .title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 15px;
  width: 2px;
  background: #03a3f0;
}

.sidebar-widget .sw-input-box {
  position: relative;
}

.sidebar-widget .sw-input-box input[type="text"] {
  background: #efefef;
  border: 0 none;
  font-size: 14px;
  line-height: 55px;
  font-weight: 300;
  letter-spacing: 0;
  height: 55px;
  width: 100%;
  padding: 4px 54px 4px 18px;
}

.sidebar-widget .sw-input-box button {
  color: #ffffff;
  background: #03a3f0;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: 0;
  padding: 0;
  width: 45px;
}

.sidebar-widget .categories {
  padding: 0;
  list-style: 0;
}

.sidebar-widget .categories li {
  display: block;
  margin: 0 0 25px;
}

.sidebar-widget .categories li:last-child {
  margin-bottom: 0;
}

.sidebar-widget .categories li a {
  color: #979797;
  display: block;
  letter-spacing: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  position: relative;
  padding: 0 0 0 14px;
}

.sidebar-widget .categories li a::before {
  content: "";
  height: 5px;
  width: 5px;
  background: #979797;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

.sidebar-widget .categories li a:hover {
  color: #03a3f0;
}

.sidebar-widget .categories li a:hover::before {
  background: #03a3f0;
}

.sidebar-widget .categories li a .number {
  float: right;
}

.sidebar-widget .posts {
  padding: 0;
  list-style: 0;
}

.sidebar-widget .posts li {
  display: block;
  margin-bottom: 30px;
}

.sidebar-widget .posts li:last-child {
  margin-bottom: 0;
}

.sidebar-widget .posts li a {
  display: block;
  overflow: hidden;
}

.sidebar-widget .posts li a .img {
  display: block;
  float: left;
  width: 70px;
}

.sidebar-widget .posts li a .img img {
  width: 100%;
}

.sidebar-widget .posts li a .content {
  display: block;
  overflow: hidden;
  padding-left: 16px;
  padding-top: 10px;
}

.sidebar-widget .posts li a .content .name {
  color: #454545;
  display: block;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
}

.sidebar-widget .posts li a .content .info {
  color: #979797;
  display: block;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  margin: 0 0 0;
}

.sidebar-widget .posts li a:hover .name {
  color: #03a3f0;
}

.sidebar-widget .tags {
  padding: 0;
  list-style: 0;
}

.sidebar-widget .tags li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 8px;
}

.sidebar-widget .tags li a {
  border-radius: 3px;
  background: #f9f9f9;
  color: #979797;
  letter-spacing: 0;
  display: block;
  font-size: 14px;
  line-height: 23px;
  padding: 5px 10px;
}

.sidebar-widget .tags li a:hover {
  background: #03a3f0;
  color: #ffffff;
}

/*----------------------------------------*/
/*  6. Contact
/*----------------------------------------*/
.page-contact-area {
  padding: 100px 0 40px;
}

.contact-form {
  margin: 0 0 30px;
}

.contact-form .title {
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 26px;
}

.contact-input-box {
  margin: 0 0 24px;
}

.contact-input-box input[type="text"] {
  color: #979797;
  border: 1px solid #d7d7d7;
  font-size: 14px;
  letter-spacing: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  padding: 4px 10px;
}

.contact-input-box input[type="email"] {
  color: #979797;
  border: 1px solid #d7d7d7;
  font-size: 14px;
  letter-spacing: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  padding: 4px 10px;
}

.contact-input-box textarea {
  color: #979797;
  border: 1px solid #d7d7d7;
  font-size: 14px;
  letter-spacing: 0;
  height: 190px;
  line-height: 60px;
  width: 100%;
  padding: 4px 10px;
}

.contact-input-box input[type="submit"], .contact-input-box button {
  border-radius: 0;
  text-transform: uppercase;
  width: 100%;
}

/*mail*/
.cf-msg {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.cf-msg p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #ffffff;
  text-transform: capitalize;
}

.contact-info {
  margin: 0 0 30px;
}

.ci-box {
  border: 1px solid #ebece8;
  position: relative;
  padding: 28px 28px 28px 70px;
  margin: 0 0 50px;
}

.ci-box .icon {
  display: inline-block;
  border: 4px solid #cdedfc;
  border-radius: 100px;
  background: #03a3f0;
  color: #ffffff;
  font-size: 26px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  text-align: center;
  position: absolute;
  left: -34px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ci-box .title {
  font-weight: 500;
  text-transform: uppercase;
}

.ci-box .text {
  line-height: 23px;
  font-weight: 300;
  margin: 16px 0 0;
}

#googleMap {
  height: 520px;
  width: 100%;
}

/*----------------------------------------*/
/*  7. Destination
/*----------------------------------------*/
.page-destination-area {
  padding: 100px 0;
}

.destination-pagination.pagination {
  margin: 60px 0 0;
  text-align: center;
}

.destination-pagination.pagination ul {
  margin: auto;
}

/*----------------------------------------*/
/*  8. Gallery
/*----------------------------------------*/
.page-gallery-area {
  padding: 100px 0;
}

.page-single-gallery {
  position: relative;
  margin: 0 0 30px;
}

.page-single-gallery::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #03a3f0;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

.page-single-gallery a {
  display: block;
}

.page-single-gallery a .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 3;
  opacity: 0;
}

.page-single-gallery img {
  width: 100%;
}

.page-single-gallery:hover::before {
  opacity: 0.7;
}

.page-single-gallery:hover a .icon {
  opacity: 1;
}

.more-gallery {
  text-align: center;
}

.more-gallery .link {
  margin: auto;
}

/*----------------------------------------*/
/*  9. Gallery 2
/*----------------------------------------*/
.page-gallery2-all .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  max-width: 20%;
}

@media (min-width: 300px), (max-width: 420px) {
  .page-gallery2-all .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (min-width: 540px) {
  .page-gallery2-all .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 50%;
  }
}

@media (min-width: 720px) {
  .page-gallery2-all .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
    max-width: 33.33%;
  }
}

@media (min-width: 960px) {
  .page-gallery2-all .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    max-width: 25%;
  }
}

@media (min-width: 1140px) {
  .page-gallery2-all .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    max-width: 20%;
  }
}

/*----------------------------------------*/
/*  10. Single Blog
/*----------------------------------------*/
.page-single-blog .post .img {
  margin: 0 0 34px;
}

.page-single-blog .post .img img {
  width: 100%;
}

.page-single-blog .post .title {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.page-single-blog .post .meta {
  padding: 0;
  list-style: none;
  margin: 14px 0 0;
}

.page-single-blog .post .meta li {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  position: relative;
  padding-right: 10px;
  margin-right: 4px;
}

.page-single-blog .post .meta li::after {
  content: ".";
  position: absolute;
  right: 0;
  bottom: 0;
}

.page-single-blog .post .text {
  margin: 34px 0 0;
  line-height: 23px;
}

.page-single-blog .breadcumb {
  color: #222222;
  font-size: 16px;
  line-height: 30px;
  font-style: italic;
  text-align: center;
  position: relative;
  padding: 0 70px;
  margin: 81px 0 0;
}

.page-single-blog .breadcumb::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-style: normal;
  position: absolute;
  color: #222222;
  font-size: 22px;
  line-height: 22px;
  left: 28px;
  top: -12px;
}

.page-single-blog .share-tags {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 72px 0 0;
}

.page-single-blog .share-tags .st-tags {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 29px 0;
}

.page-single-blog .share-tags .st-tags .name {
  color: #222222;
  font-weight: 600;
  display: inline-block;
  margin-right: 30px;
}

.page-single-blog .share-tags .st-tags .tags {
  padding: 0;
  list-style: none;
  display: inline-block;
}

.page-single-blog .share-tags .st-tags .tags li {
  display: inline-block;
}

.page-single-blog .share-tags .st-tags .tags li a {
  color: #222222;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 24px;
}

.page-single-blog .share-tags .st-share {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: right;
  padding: 29px 0;
}

.page-single-blog .share-tags .st-share .name {
  color: #222222;
  font-weight: 600;
  display: inline-block;
  margin-right: 30px;
}

.page-single-blog .share-tags .st-share .links {
  padding: 0;
  list-style: none;
  display: inline-block;
}

.page-single-blog .share-tags .st-share .links li {
  display: inline-block;
  margin-right: 14px;
}

.page-single-blog .share-tags .st-share .links li a {
  color: #6d6d6d;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 19px;
}

.page-single-blog .bd-comments-area {
  margin: 53px 0 0;
}

.page-single-blog .bd-comments-area .title {
  color: #222222;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 0 0 30px;
}

.page-single-blog .bd-comments-area .bd-allcommentes {
  padding: 0;
  list-style: none;
}

.page-single-blog .bd-comments-area .bd-allcommentes li {
  display: block;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box {
  overflow: hidden;
  margin: 0 0 45px;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .img {
  float: left;
  width: 95px;
  margin: 0;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .img img {
  width: 100%;
  border-radius: 3px;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .content {
  overflow: hidden;
  padding: 0 0 0 30px;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .content .name {
  color: #222222;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .content .date {
  color: #757575;
  font-size: 12px;
  line-height: 19px;
  font-weight: 300;
  margin: 5px 0 0;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .content .text {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  padding: 0 0 21px;
  margin: 22px 0 0;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .content .reply {
  display: inline-block;
  color: #03a3f0;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  margin: 8px 0 0;
}

.page-single-blog .bd-comments-area .bd-allcommentes li .bd-comment-box .content .reply .icon {
  margin-right: 10px;
}

.page-single-blog .bd-comments-area .ul {
  padding: 0 0 0 100px;
}

.page-single-blog .bd-post-comment {
  margin: 82px 0 0;
}

.page-single-blog .bd-post-comment .title {
  color: #222222;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 0 0 30px;
}

.page-single-blog .bd-post-comment .bd-post-input-box {
  margin: 0 0 26px;
}

.page-single-blog .bd-post-comment .bd-post-input-box input[type="text"] {
  border: 1px solid #d2d2d2;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  padding: 14px 20px;
  width: 100%;
}

.page-single-blog .bd-post-comment .bd-post-input-box textarea {
  border: 1px solid #d2d2d2;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  padding: 14px 20px;
  height: 134px;
  width: 100%;
}

.page-single-blog .bd-post-comment .bd-post-input-box input[type="submit"] {
  line-height: 14px;
  letter-spacing: 0;
  padding: 20px 20px;
}

/*----------------------------------------*/
/*  11. Team
/*----------------------------------------*/
.page-team-area {
  padding: 100px 0;
}

.page-team-area .single-team {
  margin: 0 0 30px;
}

.page-team-area .team-pagination {
  text-align: center;
}

.page-team-area .team-pagination .pagination {
  text-align: center;
}

.page-team-area .team-pagination .pagination ul {
  margin: auto;
}

/*----------------------------------------*/
/*  12. Testimonial
/*----------------------------------------*/
.page-testimonial-area {
  padding: 100px 0 50px;
}

.page-testimonial-area .single-testimonial {
  border-color: #cccccc;
  margin: 0 0 50px;
}

.page-testimonial-area .single-testimonial .content .name {
  color: #222222;
}

.page-testimonial-area .single-testimonial .content .desg {
  color: #757575;
}

.page-testimonial-area .single-testimonial .content .stars li {
  color: #03a3f0;
}

.page-testimonial-area .single-testimonial .content .text {
  color: #757575;
}

/*----------------------------------------*/
/*  13. Tours
/*----------------------------------------*/
.page-tours-area {
  padding: 100px 0;
}

.best-tour-pagination {
  text-align: center;
}

.best-tour-pagination .pagination {
  text-align: center;
}

.best-tour-pagination .pagination ul {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */